* {
    box-sizing: border-box;
}

html{
    background-color: grey;
}

h1{
    background-color: pink;
    color:white
}

.ar{
    background-color: pink
}

.p1{
    color:yellow
}

.p2{
    color:greenyellow
}

.p3{
    color:lightblue
}

.border1{
    background-color: white;
    border: 5px solid orange;
    padding: 50px;
    margin: 20px;

}

#heading-style{
    color:white
    background-color:pink
}

.yellow-text{
    color:yellow
}

.footer-style{
    color:white
}


