* {
    box-sizing: border-box;
}

html{
    background-color: grey;
}

.ar{
    background-color: pink
}

.p1{
    color:yellow
}

.p2{
    color:greenyellow
}

.p3{
    color:lightblue
}

.border1{
    margin
}


